<div class="main">
	<div class="sidebar-left">
		<div>
			<h2>Sidebar-left</h2>
		</div>
		<ul>
		</ul>
	</div>
	<div class="content">
		<div>
			<h2>Content</h2>
		</div>
		<ul>
		</ul>
	</div>
	<div class="sidebar-right">
		<div>
			<h2>Sidebar-right</h2>
		</div>
		<ul>
		</ul>
	</div>
</div>

